body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@font-face {
    font-family: headlines;
    src: url('./assets/fonts/headerfont.ttf');
}

@font-face {
    font-family: portfolio;
    src: url('./assets/fonts/portfoliofont.ttf');
}

h1 {
   font-family: portfolio!important;
   color: yellow !important;
}

h2 {
   font-family: headlines !important;
   color: #fff !important;
   
}

