@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');








/* @font-face {
    font-family: headlines;
    src: url('./assets/fonts/headerfont.ttf');
}

@font-face {
    font-family: portfolio;
    src: url('./assets/fonts/portfoliofont.ttf');
}

h1 {
   font-family: portfolio!important;
   color: yellow !important;
}

h2 {
   font-family: headlines !important;
   color: #fff !important;
   
}
 */
