body {
    height: 100vh;
}


/*      FONTS             */

/*
@font-face {
    font-family: coolvetica;
    src: url('../../Rounded.ttf');
}
*/

@font-face {
    font-family: honefont;
    src: url('../../fonts/Helmet.ttf');
}

@font-face {
    font-family: listitemsfont;
    src: url('../../fonts/bhatoshine.otf');
}

@font-face {
    font-family: aboutfont;
    src: url('../../aboutfont.ttf');
}

/* LAYOUT OF THE PAGE */

#main-content {
    height: 100vh;
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: .4fr 1fr;
    grid-auto-rows: minmax(100px, auto) minmax(100px, auto);
    grid-template-areas: "menulist menu" "menulist menu"
}

.div-list-recepie {
    height: 100%;
    position: relative;
    grid-area: menulist;
}

.div-recepie {
    grid-area: menu;
    background: #131210 url('../../recipieimg/backdropbrushsm.jpg') no-repeat top;
    background-size: cover;
    position: relative;
}

/*             NAVIGATION         */

.navigation {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    padding-bottom: 5%;
}

.navbar a {
    color: #88CDD6;
    font-family: aboutfont;
    margin-left: 25px;
}




/*     LEFT COLUMN */

.div-list-recepie > .backdropbrush {
    /*    width: 500px;*/
    height: 300px;
    top: -10px;
    left: -100px;
}

.div-list-recepie > .herbs {
    width: 250px;
    z-index: 1;
    top: 0;
    position: absolute;
    right: 0;
    top: 200px
}

.div-list-recepie > .top-backdrop {
    width: 200px;
    position: absolute;
    z-index: 99;
    top: 10%;
    transition: right 1s ease;
}

.top-backdrop {

}

.items > li {
    background: #E8E8E8;
    background-size: cover;
}

.div-list-recepie {
    background: #E8E8E8;
}


h1,
h2 {
    position: absolute;
    z-index: 100;
    top: 30px;
    color: #FFFC19;
    margin: 60px auto;
    font-size: 3em;
    font-weight: 200;
    font-family: honefont;
    letter-spacing: 1px;
    text-align: center;
    left: 5px;
}

h1 {
    left: .9em;
}

h2 {
    top: 1.5em;
}

h4 {
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 45px;
    color: #818181;
    margin: 60px auto;
    font-size: 1.5em;
    font-family: coolvetica;
    text-align: center;
}





.category-dishes {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 0;
}

.item {
    color: #292728;
    font-size: 2em;
    font-family: listitemsfont;
    margin-top: 6%;
}

.item:hover {
    cursor: pointer;
}


/*     RIGHT COLUMN */

.div-recepie {
    overflow: hidden;
}

#item-11 {
    background-color: rgba(226, 244, 255, .4);
    position: absolute;
    transform: translateX(100%);
    transition: transform 1s ease;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}

#item-12 {
    background-color: rgba(226, 244, 255, .4);
    position: absolute;
    transform: translateX(100%);
    transition: transform 1s ease;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}

#item-13 {
    background-color: rgba(226, 244, 255, .4);
    position: absolute;
    transform: translateX(100%);
    transition: transform 1s ease;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}

.dish {
    margin: 15px 15px;
    flex-basis: 250px;
    background: url('../../recipieimg/recipiedivs.jpg') no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 17px 21px 47px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 21px 47px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 21px 47px -4px rgba(0, 0, 0, 0.75);
    transition: box-shadow .5s, transform .3s ease;
}

.dish:hover {
    /*    transform: scale(1.01);*/
    -webkit-box-shadow: 17px 21px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 21px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 21px 14px -5px rgba(0, 0, 0, 0.75);
}

.dish:hover h4 {
    text-transform: uppercase;
}

.image {
    width: 100%;
    overflow: hidden;
    position: relative;

}

img {
    transition: transform .2s ease-in;
}

.imgpng {
    width: 70%;
    margin-left: 30%;
}

.dish:hover img {
    transform: scale(1.2);
}

.short-description,
h4 {
    margin: 5px 0;
    position: relative;
    /*background-color: rgba(56, 56, 56, 0.2);*/
    height: 100%;
    transition: text-transform 1s ease;
}

h4 {
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 1;
    /*background-color: rgba(56, 56, 56, 0.6);*/
    color: #fff;
    padding-top: 5px;
}

h4,
h5 {
    text-align: center;
}

h4 {
    /*    top: 0;*/
    /*    padding-bottom: 5px;*/
    /*    border-bottom: 4px white solid;*/
}

h5 {
    padding-bottom: 5px;
    border-bottom: 2px white solid;
}


#button {
    transition: background-color 1s ease-in;
    position: absolute;
    right: 2%;
    top: -9%;
    border-radius: 30px;
}

#button:hover {
    background-color: #9ED8FF;
}


.recepieDetails {
    width: 100%;
    height: 0;
    transition: height .2s ease;
    background: #fff;
}

#button:hover .recepieDetails {
    height: 100px;
    position: absolute;
    z-index: 1;
}



.overlay-menu {
    height: 100vh;
    width: 100%;
    opacity: .7;
    background-color: red;
}

/*        ANIMATION         */

@keyframes slider {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/*         MEDIA QUERIES     */

@media all and (max-width: 1690px) {}

@media all and (max-width: 1280px) {
    ...
}





@media all and (max-width: 980px) {

    #main-content {
        height: 100vh;
        display: grid;
        grid-row-gap: 40px;
        grid-template-columns: .2fr 1fr;
        grid-auto-rows: minmax(100px, auto) minmax(100px, auto);
        grid-template-areas: "menulist menu" "menulist menu"
    }


    .div-list-recepie > .backdropbrush {
        width: 250px;
        top: -10px;
        left: -900px;
    }

    h1,
    h4 {
        font-size: .5em;
    }

    .div-list-recepie {
        width: 100px;
    }

    .item {
        font-size: 1em;
    }

    .items {
        margin: 0;
        padding: 0;
    }





    .div-list-recepie > .herbs {
        width: 150px;
        z-index: 1;
        top: 0;
        position: absolute;
        right: 0;
    }

    .div-list-recepie > .top-backdrop {
        width: 100px;
        position: absolute;
        z-index: 99;
        top: 0;
        right: -110px;
    }
}




@media all and (max-width: 480px) {

    #main-content {
        height: 100vh;
        display: grid;
        grid-row-gap: 40px;
        grid-template-columns: .2fr 1fr;
        grid-auto-rows: minmax(100px, auto) minmax(100px, auto);
        grid-template-areas: "menulist menu" "menulist menu"
    }

    .div-list-recepie > .backdropbrush {
        height: 250px;
        top: -10px;
        left: -150px;
    }

    .div-list-recepie .top-backdrop {
        left: 30px;
    }

    h1 {
        font-size: 1em;
        top: 0;
    }

    .item {
        font-size: 1em;
    }

    .div-list-recepie > .herbs {
        width: 110px;
        z-index: 1;
        top: 0;
        position: absolute;
        right: 0;
        top: 130px
    }

    .div-list-recepie > .top-backdrop {
        width: 100px;
        position: absolute;
        z-index: 99;
        top: 0;
        right: -110px;
    }

}

/* ----------- iPad Pro ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {}

/* Portrait */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    #item-11 {
        position: absolute;
        transform: translateX(100%);
        transition: transform 1s ease;
        height: auto;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: auto;
    }

    .dish {
        flex-basis: 250px;
        background: url('../../recipieimg/recipiedivs.jpg') no-repeat;
        background-size: cover;
        color: white;
        overflow: hidden;
        border-radius: 5px;
        -webkit-box-shadow: 17px 21px 47px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 17px 21px 47px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 17px 21px 47px -4px rgba(0, 0, 0, 0.75);
        transition: box-shadow .5s, transform .3s ease;
    }

    .top-backdrop > h1 {
        font-size: 2.5em;
    }




    .item {
        margin-top: 20%;
        font-size: 2.1em;
    }
}





@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {

    /*
    #item-11 {
        top: 5%;
        position: absolute;
        transform: translateX(100%);
        transition: transform 1s ease;
        height: auto;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: auto;
        max-height: 1000px;
    }

    .top-backdrop > h1 {
        font-size: 2.5em;
    }

    .items {
        margin-top: 200px;
    }
    .item {
        margin-top: 10%;
        font-size: 2em;
    }
*/
    @media only screen and (min-device-width: 1023px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {}
