body {
    height: 100vh;
}


/*      FONTS             */

@font-face {
    font-family: honefont;
    src: url('../../fonts/Helmet.ttf');
}

@font-face {
    font-family: listitemsfont;
    src: url('../../fonts/bhatoshine.otf');
}

@font-face {
    font-family: aboutfont;
    src: url('../../aboutfont.ttf');
}

/* LAYOUT OF THE PAGE */

#main-content {
    height: 100vh;
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-auto-rows: minmax(20px, 70px)  minmax(100px, auto) minmax(100px, auto);
    grid-template-areas:
        "navdiv navdiv" "menulist menu" "menulist menu"
}

.navigation {
    grid-area: navdiv;
    background: #211E1D;
}

.div-list-recepie {
    height: 100%;
    position: relative;
    grid-area: menulist;
}

.div-recepie {
    grid-area: menu;
    background: #131210 url('../../recipieimg/backdropbrushsm.jpg') no-repeat top;
    background-size: cover;
    position: relative;
}

/*             NAVIGATION         */



.navbar a {
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
    margin-left: 25px;
}

.navbar .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s ease-in;
}

.navbar a:hover::after {
    width: 100%;
}


/*     LEFT COLUMN */

.div-list-recepie {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-list-recepie>.backdropbrush {
    position: absolute;
    height: 200px;
    top: -10px;
    left: -100px;
}

.div-list-recepie>.herbs {
    width: 150px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 150px
}

.div-list-recepie>.top-backdrop {
    width: 150px;
    position: absolute;
    z-index: 99;
    top: 5%;
}


.div-list-recepie {
    background: #E8E8E8 url('../../recipieimg/patternbackground.png');
}


h1,
h2 {
    position: absolute;
    z-index: 100;
    top: 10px;
    color: #FFFC19;
    margin: 60px auto;
    font-size: 3em;
    font-weight: 200;
    font-family: honefont;
    letter-spacing: 1px;
    text-align: center;
    left: 5px;
}

h1 {
    left: .9em;
}

h2 {
    top: 1em;
}

h4 {
    position: absolute;
    z-index: 1;
    top: 110px;
    left: 45px;
    color: #818181;
    margin: 60px auto;
    font-size: 1.5em;
    font-family: coolvetica;
    text-align: center;
}





.category-dishes {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 0;
}

.item {
    color: #292728;
    font-size: 2em;
    font-family: listitemsfont;
    margin-top: 6%;
    transition: all .2s ease-in;
}



.item:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.item:hover {
    cursor: pointer;
    transform: scale(1.2);
}



/*     RIGHT COLUMN */

.div-recepie {
    overflow: hidden;
}

#item-10,
#item-11,
#item-12,
#item-13,
#item-14 {
    background-color: rgba(226, 244, 255, .4);
    position: absolute;
    transform: translateX(100%);
    transition: transform .5s cubic-bezier(.49, .06, .66, 1.29);
    height: 100%;
    width: 100%;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}



.dish {
    margin: 15px 15px;
    flex-basis: 250px;
    background: url('../../recipieimg/recipiedivs.jpg') no-repeat;
    background-size: cover;
    color: white;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 17px 21px 47px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 21px 47px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 21px 47px -4px rgba(0, 0, 0, 0.75);
    transition: box-shadow .5s, transform .3s ease;

}

#item-13 {
    background-color: rgba(226, 244, 255, .4);
    position: absolute;
    transform: translateX(100%);
    transition: transform 1s ease;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}




.dish:hover {
    /*    transform: scale(1.01);*/
    -webkit-box-shadow: 17px 21px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 21px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 21px 14px -5px rgba(0, 0, 0, 0.75);
}

.dish:hover h4 {
    text-transform: uppercase;
}

.image-up {
    width: 100%;
    overflow: hidden;
    position: relative;
}

img {
    transition: transform .2s ease-in;
}

.imgpng {
    width: 100%;
}

.dish:hover img {
    transform: scale(1.2);
}

.short-description,
h4 {
    margin: 5px 15px;
    position: relative;
    height: 100%;
    transition: text-transform 1s ease;
}

.short-description>p {
    font-family: cursive;
    font-size: 2vh;
}

h4 {
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 1;
    color: #fff;
    padding-top: 5px;
}

h4,
h5 {
    text-align: center;
}



h5 {
    padding-bottom: 5px;
    border-bottom: 2px white solid;
}


#button {
    transition: background-color 1s ease-in;
    position: absolute;
    right: 2%;
    top: -9%;
    border-radius: 30px;
}

#button:hover {
    background-color: #9ED8FF;
}


.recepieDetails {
    width: 100%;
    height: 0;
    transition: height .2s ease;
    background: #fff;
}

#button:hover .recepieDetails {
    height: 100px;
    position: absolute;
    z-index: 1;
}



.overlay-menu {
    height: 100vh;
    width: 100%;
    opacity: .7;
    background-color: red;
}

/*        ANIMATION         */

@keyframes slider {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/*         MEDIA QUERIES     */

@media all and (max-width: 1690px) {}

@media all and (max-width: 1280px) {}





@media all and (max-width: 980px) {

/*
    #main-content {
        height: 100vh;
        display: grid;
        grid-row-gap: 40px;
        grid-template-columns: .2fr 1fr;
        grid-auto-rows: minmax(100px, auto) minmax(100px, auto);
        grid-template-areas: "menulist menu" "menulist menu"
    }
*/


    .div-list-recepie>.backdropbrush {
        width: 250px;
        top: -10px;
        left: -900px;
    }

    h1,
    h4 {
        font-size: .5em;
    }

    .div-list-recepie {
        width: 100px;
    }

    .item {
        font-size: 1em;
    }

    .items {
        margin: 0;
        padding: 0;
    }





    .image-up {
        display: none;
    }
}


/*    mobile @media   */

@media all and (max-width: 480px) {



    .navbar a {
        padding-top: 20px;
        background: #fff;
        color: black;
    }

    .image-up {
        display: none;
    }

    span>.sandwichmenulogo {
        position: absolute;
        z-index: 99;
        width: 25px;
        margin: 0;
        padding: 0;
    }

/*
    #main-content {
        height: 100vh;
        display: grid;
        grid-row-gap: 40px;
        grid-template-columns: .2fr 1fr;
        grid-auto-rows:minmax(100px, auto)  minmax(100px, auto) minmax(100px, auto);
        grid-template-areas:
        "navdiv navdiv"  "menulist menu" "menulist menu"
    }
*/

    .div-list-recepie {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .div-list-recepie>.backdropbrush {
        height: 250px;
        top: -10px;
        left: -150px;
    }

    .div-list-recepie .top-backdrop {
        left: 30px;
    }

    h1 {
        font-size: 1.2em;
        top: 0;
    }

    h2 {
        font-size: 1.2em;
        padding-top: 15px;
    }

    .item {
        font-size: 1em;
    }

    .div-list-recepie>.herbs {
        width: 110px;
        z-index: 1;
        position: absolute;
        right: 0;
        top: 130px
    }

    .div-list-recepie>.top-backdrop {
        width: 100px;
        position: absolute;
        z-index: 99;
        top: 0;
        right: -110px;
    }



}


/*     MOBILE LANDSCAPE            */

@media all and (max-width: 640px) {

    body {
/*        display: none;*/
    }

#main-content {
    height: 100vh;
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-auto-rows: minmax(20px, 70px)  minmax(100px, auto) minmax(100px, auto);
    grid-template-areas:
        "navdiv navdiv" "menulist menu" "menulist menu"
}

    h1,
    h2 {
        font-size: 1em;
        top: 0;
    }

    .items {
        margin: 0;
        padding: 0;
        top: 0;
    }

    body {
        /*        display: none;*/
    }

    .div-list-recepie {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/* ----------- iPad Pro ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {}

/* Portrait */

.image-up {
    /*display: none;*/
}


.div-list-recepie {
    display: flex;
    align-items: center;
    justify-content: center;

}



/*  Landscape  */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {


    .div-list-recepie {
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .div-list-recepie {
        display: flex;
        align-items: center;
        justify-content: center;
    }



    #item-11 {
        position: absolute;
        transform: translateX(100%);
        transition: transform 1s ease;
        height: auto;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: auto;
    }

    .dish {
        flex-basis: 550px;
    }

    .top-backdrop>h1 {
        font-size: 2.5em;
    }

    .div-list-recepie>.backdropbrush {
        width: 200px;
    }




    .item {
        margin-top: 20%;
        font-size: 2.1em;
    }
}
