body {
    background: url('../../recipieimg/woodtexture.jpg') ;
    background-size: cover;
    height: 100px;
}


/******** FONTS    *********/


@font-face {
    font-family: coolvetica;
    src: url('../../fonts/Rounded.ttf');
}


@font-face {
    font-family: listitemsfont;
    src: url('../../fonts/bhatoshine.otf');
}

@font-face {
    font-family: merushaitalic;
    src: url('../../fonts/MeryshaItalic.otf');
}

@font-face {
    font-family: merusha;
    src: url('../../fonts/Merysha.otf');
}

/******** /FONTS    *********/


/******** LAYOUT    *********/

.back-arrow {
    position: absolute;
    left: 13%;
    top: 15%;
    z-index: 99;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}    

.back-arrow:hover {
    -webkit-transform: scale(1.1);transform: scale(1.1);
}

/* share div */

#social-media-share {
    position: absolute;
    z-index: 1;
    top: 0;
    margin-top: 25%;
    left: -5%;
    height: 50%;
    width: 5%;
    background: blue;
    -webkit-transition: left 1s ease;   transition: left 1s ease;
}

.share-icon {
    height: 20%;
    width: 100%;
    background: red;
/*    -webkit-transition: width .5s ease;transition: width .5s ease;*/
}

/*
#social-media-share:hover .share-icon {
    width: 180%;
}
*/

#recipie-div {
    margin-top: 2%;
    text-align: auto;
    width: 75%;
    background: #E3E3E3;
    position: absolute;
    left: 50%;
    margin-left: -37.5%;
    height: 1250px;
    border-radius: 5px;
}

.share-icon > img {
    width: 55px;
    margin: auto;
}

/* /share div */




/* main content */
#mainimage {
    width: 300px;
    position: absolute;
    margin: 20% 0 0 10%;
    border-radius: 10px;
    opacity: .5;
}

h1 {
    font-size: 8vh;
    letter-spacing: 8px;
    margin-top: 1%;
    text-align: center;
    font-family: listitemsfont;
}

h2 {
    font-family: cursive;
    font-size: 6vh;
    margin: auto;
}

ul > li {
    font-family: Anton;
    font-size: 3.5vh;
    margin: 10px 0;
}

.redepie-directions {
    margin-top: 70%;
    margin-left: 10%;
    margin-bottom: 10%;
    width: 55%;
}

.redepie-directions li {
    font-family: Anton;
    font-size: 3vh;
}

ul {
    list-style: none;
}

.ingridients {
    position: absolute;
    top: 15%;
    right: 5%;
}




.redepie-directions {
/*    position: absolute;*/
}    



/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #mainimage {
        width: 40%;
        right: 5%;
        top: 10%;
    }
    
    h1 {
        font-size: 2vh;
    }
    
    h2 {
        font-size: 2vh;
    }
    
    .redepie-directions {
        position: static;
        margin: 12% auto 0;
        width: 85%;
    }
    
    .ingridients {
        margin: 12% 0 0 2%;
        position: static;
    }
    
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        #mainimage {
        width: 40%;
        right: 5%;
        top: 10%;
    }
    
    h1 {
        font-size: 2vh;
    }
    
    h2 {
        font-size: 2vh;
    }
    
    .redepie-directions {
        position: static;
        margin: 12% auto 0;
        width: 85%;
    }
    
    .ingridients {
        margin: 12% 0 0 2%;
        position: static;
    }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 680px) {
    #mainimage {
        width: 40%;
        position: static;
    }
    
    h1 {
        font-size: 2vh;
    }
    
    h2 {
        font-size: 2vh;
    }
    
    .ingridients {
        right: 0;
        position: static;
        width: 100%;
    }
    
    .ingridients li {
        font-size: 2vh;
    }
    
    .redepie-directions {
        width: 100%;
        padding: 0;
        position: static;
        margin: 0;
    }
    
    .redepie-directions li {
        font-size: 2vh;
    }
}





