/* 
----------------------------------------------
1. General styles
----------------------------------------------
*/

body {
    overflow-x: hidden;
    font: 400 16px/1.8 'Crimson Text', serif;
    color: #666;
    width: 100%;
    margin: 0;
    background-color: #d1d1d1;
}






* {
    box-sizing: border-box;
}

/*
-------------------------------------------
1.1. Typography
-------------------------------------------
*/

@font-face {
    font-family: headlines;
    src: url('../../headerfont.ttf');
}

@font-face {
    font-family: portfolio;
    src: url('../../portfoliofont.ttf');
}




/*
-------------------------------------------
 Nav Navigation Style
-------------------------------------------
*/

.navbar {
    margin-top: 1%;
    position: absolute;
    z-index: 1;
    width: 100%;
    /*    background: #fff;*/
}

.navbar a {
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 1.4em;
    margin-left: 25px;
}

.navbar .nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s ease-in;
}

.navbar a:hover::after {
    width: 100%;
}

#contact-links {
    position: absolute;
    left: 33%;
    top: 95%;
    width: 400px;
    height: 250px;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity 1s ease;
}

.contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
}

.contact-icons > li {
    width: 50px;
    flex: 1;
    margin-left: 15%;
}







/*
-------------------------------------------
3. Home Page 
-------------------------------------------
*/

.homeDiv {
    height: 100vh;
}

h1 {
    font-family: headlines;
    color: #fff;
    font-size: 1.9em;
    margin: 0;
    padding: 0;
    display: none;
}

h2 {
    font-family: 'Lato', sans-serif;
    padding: 30% 0 0 10%;
    color: #fff;
    font-size: 1.8em;
}


.video {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.video > video {
    max-height: 120%;
    max-width: 100%;
}

    .header-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #1F1E1C;
        opacity: .8;
    }


.portfolio {
    font-family: sans-serif;
    position: absolute;
    top: 25%;
    left: 0;
    width: 600px;
    text-align: center;
    color: yellow;
}

.portfolio > span {
    font-size: 4em;
    padding-bottom: 0;
    font-family: portfolio;
}


.heading-title {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
}

.table {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.mainheader {
    position: absolute;
    left: 50px;
    top: 50px;
}

.slider-area .sliderimg {
    height: 100px;
}









/*
-------------------------------------------
ABOUT AREA
-------------------------------------------
*/

#about {
    padding-top: -150px;
    /*    background-image: url(../../backgrphoto/patternbackground.png);*/
    /*background: url(../../backgrphoto/blackbacground.jpg);*/
    /*background: url(../../backgrphoto/background.jpg);*/
    background: -moz-linear-gradient(182deg, rgba(13,2,2,1) 0%, rgba(46,41,38,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(46,41,38,1)), color-stop(100%, rgba(13,2,2,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(182deg, rgba(13,2,2,1) 0%, rgba(46,41,38,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(182deg, rgba(13,2,2,1) 0%, rgba(46,41,38,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(182deg, rgba(13,2,2,1) 0%, rgba(46,41,38,1) 100%); /* ie10+ */
background: linear-gradient(268deg, rgba(13,2,2,1) 0%, rgba(46,41,38,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E2926', endColorstr='#0d0202',GradientType=1 ); /* ie6-9 */

    background-size: cover;
    background-repeat: no-repeat;


    height: 100vh;
}


/*          LAYOUT OF THE PAGE              */

.about-area {
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    grid-template-rows: 60% 40%;
    position: relative;
}


.short-bio-text {
    position: relative;
    /*background: yellow;*/
    grid-column: 1 / 2;
}

.photo {
    grid-column: 2 / 3;
    /*background: red;*/
}




.slider-div {
    grid-column: 1 / 2;
    /*background: blue;*/
    position: relative;
}


.bottom {
    grid-column: 2 / 3;
    position: relative;
    /*background: orange;*/
}


/*      Bio text area      */

.line-horizontal {
    top: 10%;
    left: 2%;
    position: absolute;
    z-index: 1;
    background: #fff;
    height: 400px;
    width: 10px;
}

.line-vertical {
    top: 10%;
    left: 2%;
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 400px;
    height: 10px;
}


.line-horizontal-bottom {
    bottom: -10%;
    right: 5%;
    position: absolute;
    z-index: 1;
    background: #fff;
    height: 400px;
    width: 10px;
}

.line-vertical-bottom {
    bottom: -10%;
    right: 5%;
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 400px;
    height: 10px;
}




.text {
    margin-top: 10%;
    margin-left: 5%;
    width: 45%;
}

.text > h1 {
    padding: 0;
    margin-left: 5%;
    padding-bottom: 40px;
    font-family: portfolio;
    color: #E9EF38;
    font-size: 2em;
    transform: scaleY(1.9);
    font-weight: 200;
}

.text > p {
    padding-top: 3%;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 1.2em;
}

.my-linked-il {
    position: absolute;
    z-index: 1;
    left: 30%;
}


.text a {
    text-decoration: none;
}
    
    
.liked-in-logo {
    width: 50px;
    transition: all .2s ease-in;
}

.my-linked-il:hover .liked-in-logo {
    transform: scale(1.1);
}

.chef-photo {
    position: absolute;
    top: 0;
    right: 5%;
    z-index: 1;
    height: 450px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-txt-pic {
    position: absolute;
    width: 600px;
    right: 7%;
    top: 30%;
     opacity: .1 ;
}

.container {
    display: flex;
}

.quote {
    margin-top: 10%;
    background: #26231F;
    height: 150px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-txt > h3 {
    padding-bottom: 20px;
}


h3 {
    text-align: center;
    font-family: Oswald;
    color: #fff;
}



.slider {
    position: relative;
    height: 300px;
    width: 300px;
    background: #f2f2f2;
    overflow: hidden;
}

.arrow-dv {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    width: 12%;
    background-color: red;
    opacity: .8;
}

.slider > p {
    font-family: 'Lato', sans-serif;
    color: #fff;
    top: 47%;
    right: -20%;
    position: absolute;
    z-index: 2;
    transform: rotate(90deg);
}





/*      ABOUT SLIDER               */

.slider-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: all .5s ease-in;
}


/*
-------------------------------------------
5. SIGNATRE CHEF DISH 
-------------------------------------------
*/

#signatureChefDish {
    background-color: #070101;
}

.gallery-grid {
    margin: 2% 1%;
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 10% minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-areas: "div-top div-top div-top div-top div-top div-top " "div-one div-one div-four div-five div-seven div-seven" "div-one div-one div-six div-six div-seven div-seven" "div-two div-three div-six div-six div-seven div-seven"
}


/*****         GRID DECLARATION      *******/

.div-top {
    grid-area: div-top;
    text-align: center;
}

.div-one {
    grid-area: div-one;
    /*    background-color: red;*/
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-two {
    grid-area: div-two;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-three {
    grid-area: div-three;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-four {
    grid-area: div-four;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-five {
    grid-area: div-five;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-six {
    grid-area: div-six;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-seven {
    grid-area: div-seven;
    text-align: center;
    overflow: hidden;
    position: relative;
}


/*****    GRID IMAGES AND ANIMATIONS *******/

.div-photo {
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.div-photo-small {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.div-gen:hover .div-photo-small,
.div-gen:hover .div-photo {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.photo-overlay {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.div-gen:hover .photo-overlay {
    opacity: 1;
    cursor: pointer;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    /* will center the text */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
}

.photo-overlay > h4,
.photo-overlay > p {
    color: #fff;
}


/*
-------------------------------------------
9. Food Menu Area Style
-------------------------------------------
*/

.foodmenu-bg {
    padding: 100px 0;
    background: #E7E7E7;
}

.foodmenu-area .title h4 {
    margin-bottom: 80px;
    margin-top: -7px;
    text-align: center;
}

.foodmenu-area .menu-details h6 {
    margin: 10px 0 10px 0;
    display: inline-block;
}

.foodmenu-area .menu-details span {
    text-align: right;
    display: block;
    margin-top: -30px;
}

.foodmenu-area .menu-details p {
    border-bottom: 1px dashed rgba(34, 34, 34, 0.27);
    padding: 11px 0 25px 0;
    font-size: 14px;
}

.foodmenu-area .menu-details .border-fr {
    border: none;
}


/*


/*
-------------------------------------------
     RECEPIE DIV 
-------------------------------------------
*/

/*
-------------------------------------------
14. Footer Area Style
-------------------------------------------
*/

.foodSecDiv {
    height: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}

.item {
    flex-grow: 1;
    height: 500px;
    background-color: grey;
    margin-left: 10px;
    flex-basis: 400px;
    margin-top: 20px;
}

.foodSecDiv h3 {
    text-align: center;
    position: absolute;
}

/*
-------------------------------------------
14. Footer Area Style
-------------------------------------------
*/

.footer-area {
    background: #222222;
    text-align: center;
    height: 100px;
}


/* Media Queries */

@media all and (min-width: 1690px) {

    .about-text {
        width: 7em;
    }


    .video > video {
        min-width: 100vh;
        min-height: 116vh;
    }


}

@media all and (max-width: 1280px) {
    ...
}



/*        IPAD      */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .homeDiv {
        height: 40vh;
    }


    .video {
        top: 0;
        left: 0;
        z-index: -1;
        position: absolute;
        height: 100vh;
        width: 100%;
        /*background: #fff;*/
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .video > video {
        max-height: 120%;
        max-width: 100%;
    }

    .header-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #1F1E1C;
        opacity: .8;
    }


    .header-overlay {
        display: none;
    }


    .gallery-grid {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .div-gen {
        margin: 4px;
        height: 300px;
        width: 300px;
        flex-grow: 1;
    }

    .div-seven {
        height: auto;
    }

    .div-top {
        display: none;
    }

    .div-top > h4 {
        font-size: 1.3em;
    }


    /*      ABOUT SECTION        */
    #about {
        height: 100vh;
    }


    .about-area {
        display: grid;
        grid-template-columns: 1.5fr .5fr;
        grid-template-rows: 60% 40%;
        position: relative;

    }


    .bottom {
        display: none;
    }

    .chef-photo {
        top: 15%;
        height: 400px;
        right: 1%;
    }

    .slider-div {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .quote-txt > h3 {
        font-size: 1em;
    }

    .quote-txt > h1 {
        font-size: 1em;
    }

    .slider {
        height: 225px;
    }

    h2 {
        margin-top: 100px;
    }

    .container {
        margin-top: 200px;
    }

    .text {
        margin-left: 100px;
    }


}


/*       IPAD PRO   LANDSCAPE       */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    
    .container {
        margin-top: 100px;
    }

    .homeDiv {
        height: 100vh;
    }



    .portfolio {
        top: 20%;
    }


    .first-image {
        left: 0;
        height: 600px;
    }

    .second-image {
        height: 550px;
        left: -15%;
    }

    .video {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.video > video {
    max-height: 120%;
    max-width: 135%;
}

    .header-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #1F1E1C;
        opacity: .8;
    }

     .quote   {
        margin-top: 8%;
    }
}

/* Portrait */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

    .portfolio {
        top: 10%;
    }



    .homeDiv {
        height: 40vh;
    }

    .first-image {
        left: 0;
        height: 600px;
    }

    .second-image {
        height: 550px;
        left: -15%;
    }


    /*          ABOUT SECTION             */
    #about {
        height: 80vh;
    }

    .about-area {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 25%;
        grid-column-gap: 5%;
        /*position: relative;*/
    }

    .short-bio-text {
        grid-column: 1 / 2;
    }


    .photo {
        grid-column: 2 / 3;

    }

    .chef-photo {
        height: 40%;
    }


    .container {
        grid-column-start: span 3;
    }


    .bottom {
        display: none;
    }

    .text {
        width: 100%;
    }

}


/*       /IPAD PRO          */


}

@media all and (max-width: 736px) {
    .stones-homediv {
        width: 50%;
    }

    .portfolio {
        position: absolute;
        left: 0;
        top: 5%;
        font-size: .5em;
        width: 100%;
    }

    span > .sandwichmenulogo {
        width: 25px;
        margin: 0;
        padding: 0;
    }
}





/*      mobile     */

@media all and (max-width: 820px) {




    .navbar {
        background: #fff;
    }

    .navbar a {
        color: #1E1C19;
    }


    body {
        background-color: #272624;
    }

    .portfolio {
        position: absolute;
        margin: auto;
        top: 20%;
        font-size: 1em;
        width: 100%;
    }

    h1 {
        font-size: 1.2em;
    }



    .video {
        background-image: url(/backgrphoto/mainlandsm.jpg);
        background-size: cover;
    }

    .video > video {
        display: none;
    }
    
    .portfolio h2 {
        font-size: .8em;
        padding-top: 20%;
        margin: auto;
    }


/*    ABOUT SECTION */


    .about-area {
        grid-auto-columns: 1fr;
    }

    .bottom,
    .chef-photo,
    .line-vertical,
    .line-horizontal,
    .slider-div,
    .random-txt-pic {
        display: none;
    }

    .text {
        width: 80%;
    }

    .text > h2 {
        margin-top: 45%;
        font-size: 1.6em;
    }







    /*    GALLERY DIV */
    #signatureChefDish {
        background-color: #C8E2E9;
    }

    .gallery-grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }

    .div-gen {
        margin-top: 4px;
        height: 300px;
        width: 100%;
        flex-grow: 1;
    }

    .div-seven {
        display: none;
    }

    .div-top > h4 {
        font-size: 1.3em;
    }

    .about-text > h4 {
        font-family: 'Merriweather', serif;
        color: #2D65D6;
        border-bottom: none;
        padding-bottom: 5px;
    }

    .about-area {
        background-image: none;
    }


    .social-logo {
        width: 10px;
    }
    
    




}
