/* 
----------------------------------------------
1. General styles
----------------------------------------------
*/






body {
    overflow-x: hidden;
    font: 400 16px/1.8 'Crimson Text', serif;
    color: #666;
    width: 100%;
<<<<<<< HEAD

=======
    margin: 0;
    background-color: #d1d1d1;
>>>>>>> 3e1f6ffd3f736b8e7111f65a04c9a0de295d39b6
}



* {
    box-sizing: border-box;
}

/*
-------------------------------------------
1.1. Typography
-------------------------------------------
*/

@font-face {
    font-family: headlines;
    src: url('../../headerfont.ttf');
}

@font-face {
    font-family: portfolio;
    src: url('../../portfoliofont.ttf');
}



@font-face {
    font-family: aboutfont;
    src: url('../../aboutfont.ttf');
}


/*
-------------------------------------------
 Nav Navigation Style
-------------------------------------------
*/

.navbar {
    margin-top: 1%;
    position: absolute;
    z-index: 1;
    width: 100%;
/*    background: #fff;*/
}

.navbar a {
    color: #fff;
    font-family: aboutfont;
    margin-left: 25px;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s ease-in;
}

.navbar a:hover::after {
    width: 100%;
}

#contact-links {
    position: absolute;
    left: 33%;
    top: 95%;
    width: 400px;
    height: 250px;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity 1s ease;
}

.contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
}

.contact-icons > li {
    width: 50px;
    flex: 1;
    margin-left: 15%;
}







/*
-------------------------------------------
3. Home Page 
-------------------------------------------
*/

.homeDiv {
    height: 100vh;
}

h1 {
    font-family: headlines;
    color: #fff;
    font-size: 1.9em;
    margin: 0;
    padding: 0;
}

 h2 {
        padding: 15% 0 0 10%;
        color: #fff;
         font-size: 1.8em;
    }


.video {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.video > video {
    max-height: 120%;
    max-width: 100%;
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1F1E1C;
    opacity: .8;
}

.portfolio {
    font-family: sans-serif;
    position: absolute;
    top: 25%;
    left: 0;
    width: 600px;
    text-align: center;
    color: yellow;
}

.portfolio > span {
    font-size: 4em;
    padding-bottom: 0;
    font-family: portfolio;
}


.heading-title {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
}

.table {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.mainheader {
    position: absolute;
    left: 50px;
    top: 50px;
}

.slider-area .sliderimg {
    height: 100px;
}









/*
-------------------------------------------
ABOUT AREA
-------------------------------------------
*/




#about {
    padding-top: -150px;
/*    background-image: url(../../backgrphoto/patternbackground.png);*/
    /*background: url(../../backgrphoto/blackbacground.jpg);*/
    /*background: url(../../backgrphoto/background.jpg);*/
    background: -moz-linear-gradient(45deg, rgba(66,61,55,1) 0%, rgba(35,32,29,1) 99%, rgba(35,32,29,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(66,61,55,1)), color-stop(99%, rgba(35,32,29,1)), color-stop(100%, rgba(35,32,29,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(66,61,55,1) 0%, rgba(35,32,29,1) 99%, rgba(35,32,29,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(66,61,55,1) 0%, rgba(35,32,29,1) 99%, rgba(35,32,29,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(66,61,55,1) 0%, rgba(35,32,29,1) 99%, rgba(35,32,29,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(66,61,55,1) 0%, rgba(35,32,29,1) 99%, rgba(35,32,29,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23201D', endColorstr='#423D37',GradientType=1 ); /* ie6-9 */
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
    height: 100vh;
}


/*          LAYOUT OF THE PAGE              */

.about-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 430px);
    position: relative;
}



/*      Bio text area      */

.line-horizontal {
    top: 10%;
    left: 2%;
    position: absolute;
    z-index: 1;
    background: #fff;
    height: 400px;
    width: 10px; 
}

.line-vertical {
    top: 10%;
    left: 2%;
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 400px;
    height: 10px;
}

.short-bio-text {
    position: relative;
    /*background: yellow;*/
    grid-column-start: 1;
    grid-column-end: 3;
}

.photo {
    /*background: red;*/
    grid-column-start: 3;
    grid-column-end: 3;
}


.slider-div {
    grid-column-start: 1;
    grid-column-end: 3;
    /*background: blue;*/
    position: relative;
}


.bottom {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 3;
    /*background: orange;*/
}

.line-horizontal-bottom {
    bottom: 4%;
    right: 5%;
    position: absolute;
    z-index: 1;
    background: #fff;
    height: 400px;
    width: 10px; 
}

.line-vertical-bottom {
    bottom: 4%;
    right: 5%;
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 400px;
    height: 10px;
}




.text {
    margin: 10% 0 0 10%;
    width: 45%;
    padding: 1%;
}

.text > h2 {
    font-family: Oswald;
    color: #FFFF00;
    font-size: 3em;
}

.text > p {
    padding-top: 5%;
    font-family: Lato;
    color: #fff;
    font-size: 1.2em;
}

.chef-photo {
    height: 500px;
    margin: auto;
    display: flex;
  align-items: center;
  justify-content: center;
}


.container {
    display: flex;
    margin-top: 1%;
}

.quote {
    margin-top: 10%;
    background: #26231F;
    height: 200px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}



h3 {
    text-align: center;
    font-family: Oswald;
    color: #fff;
}



.slider {
    height: 400px;
    width: 40%;
    background: #f2f2f2;
}









/*
-------------------------------------------
5. SIGNATRE CHEF DISH 
-------------------------------------------
*/

#signatureChefDish {
    background-color: #070101;
}

.gallery-grid {
    margin: 2% 1%;
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 10%  minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-areas:
"div-top div-top div-top div-top div-top div-top "
"div-one div-one div-four div-five div-seven div-seven"
"div-one div-one div-six div-six div-seven div-seven"
"div-two div-three div-six div-six div-seven div-seven"
}


/*****         GRID DECLARATION      *******/

.div-top {
    grid-area: div-top;
    text-align: center;
}

.div-one {
    grid-area: div-one;
    /*    background-color: red;*/
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-two {
    grid-area: div-two;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-three {
    grid-area: div-three;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-four {
    grid-area: div-four;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-five {
    grid-area: div-five;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-six {
    grid-area: div-six;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.div-seven {
    grid-area: div-seven;
    text-align: center;
    overflow: hidden;
    position: relative;
}


/*****    GRID IMAGES AND ANIMATIONS *******/

.div-photo {
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.div-photo-small {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.div-gen:hover .div-photo-small,
.div-gen:hover .div-photo {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.photo-overlay {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.div-gen:hover .photo-overlay {
    opacity: 1;
    cursor: pointer;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    /* will center the text */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
}

.photo-overlay > h4,
.photo-overlay > p {
    color: #fff;
}


/*
-------------------------------------------
9. Food Menu Area Style
-------------------------------------------
*/

.foodmenu-bg {
    padding: 100px 0;
    background: #E7E7E7;
}

.foodmenu-area .title h4 {
    margin-bottom: 80px;
    margin-top: -7px;
    text-align: center;
}

.foodmenu-area .menu-details h6 {
    margin: 10px 0 10px 0;
    display: inline-block;
}

.foodmenu-area .menu-details span {
    text-align: right;
    display: block;
    margin-top: -30px;
}

.foodmenu-area .menu-details p {
    border-bottom: 1px dashed rgba(34, 34, 34, 0.27);
    padding: 11px 0 25px 0;
    font-size: 14px;
}

.foodmenu-area .menu-details .border-fr {
    border: none;
}


/*


/*
-------------------------------------------
     RECEPIE DIV 
-------------------------------------------
*/



/*
-------------------------------------------
14. Footer Area Style
-------------------------------------------
*/

.foodSecDiv {
    height: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}

.item {
    flex-grow: 1;
    height: 500px;
    background-color: grey;
    margin-left: 10px;
    flex-basis: 400px;
    margin-top: 20px;
}

.foodSecDiv h3 {
    text-align: center;
    position: absolute;
}

/*
-------------------------------------------
14. Footer Area Style
-------------------------------------------
*/

.footer-area {
    background: #222222;
    text-align: center;
    height: 100px;
}


/* Media Queries */

@media all and (min-width: 1690px) {
    
.about-text {
    width: 7em;
}

    
.video > video {
    min-width: 100vh;
    min-height: 116vh;
}


}
    
@media all and (max-width: 1280px) {
    ...
}

/*       IPAD PRO   LANDSCAPE       */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {


    .homeDiv {
        height: 70vh;
    }
    
    .portfolio {
        top: 20%;
    }


    .first-image {
        left: 0;
        height: 600px;
    }

    .second-image {
        height: 550px;
        left: -15%;
    }
}

/* Portrait */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

    .portfolio {
        top: 10%;
    }



    .homeDiv {
        height: 40vh;
    }

    .first-image {
        left: 0;
        height: 600px;
    }

    .second-image {
        height: 550px;
        left: -15%;
    }
    
    
    /*          ABOUT SECTION             */
    #about {
        height: 80vh;
    }
    
.about-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 25%;
    grid-column-gap: 5%;
    /*position: relative;*/
}
    
    .short-bio-text {
        grid-column: 1 / 2
    }
    
    
    .photo {
        grid-column: 2 / 3
        
    }
    
    .chef-photo {
        height: 40%;
    }
    
    
    .container {
        grid-column-start: span 3;
    }
    
    
    .bottom {
        display: none;
    }
    
    .text {
        width: 100%;
    }

}


/*       /IPAD PRO          */







/*        IPAD      */


@media all and (max-width: 980px) {
    * GALLERY DIV */ #signatureChefDish {
        background-color: #C8E2E9;
    }

    body {
/*        display: none;*/
    }


    .video   {
        background-image: url(/backgrphoto/mainlandsm.jpg);
        background-size: cover;
    }

        .video > video {
        display: none;
    }

    .header-overlay {
        display: none;
    }


    .gallery-grid {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .div-gen {
        margin: 4px;
        height: 300px;
        width: 300px;
        flex-grow: 1;
    }

    .div-seven {
        height: auto;
    }

    .div-top {
        display: none;
    }

    .div-top > h4 {
        font-size: 1.3em;
    }


}

@media all and (max-width: 736px) {
    .stones-homediv {
        width: 50%;
    }

    .portfolio {
        position: absolute;
        left: 0;
        top: 5%;
        font-size: .5em;
        width: 100%;
    }

    span > .sandwichmenulogo {
        width: 25px;
        margin: 0;
        padding: 0;
    }
}


/*      mobile     */
@media all and (max-width: 480px) {




    .navbar {
        background: #fff;
    }

    .navbar a {
        color: #1E1C19;
    }


    body {
        background-color: #272624;
    }

    .portfolio {
        position: absolute;
        margin: auto;
        top: 20%;
        font-size: 1em;
        width: 100%;
    }

    h1 {
        font-size: 1.2em;
    }



    .video   {
        background-image: url(/backgrphoto/mainlandsm.jpg);
        background-size: cover;
    }

    .video > video {
        display: none;
    }

    .header-overlay {
        display: none;
    }



    .about-text {
        margin: 0;

    }

    .about-text > h4 {
        margin: 0;
        text-align: left;
        font-size: 2em;
    }

    .about-text > p {
        font-size: .7em;
        margin-left: 5px;
    }


    .about-btn {
        height: 70px;
    }

    /*    GALLERY DIV */


    #signatureChefDish {
        background-color: #C8E2E9;
    }

    .gallery-grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }

    .div-gen {
        margin-top: 4px;
        height: 300px;
        width: 100%;
        flex-grow: 1;
    }

    .div-seven {
        display: none;
    }

    .div-top > h4 {
        font-size: 1.3em;
    }

    .about-text > h4 {
        font-family: aboutfont;
        color: #2D65D6;
        border-bottom: none;
        padding-bottom: 5px;
    }

    .about-area {
        background-image: none;
        background-color: #9ED8FF;
    }

    .about-text > p {
        max-width: 100%;
        width: 100%;
        padding: 0 50px 0 20px;
        margin-right: auto;
        background-color: rgba(170, 200, 208, .5);
        padding-top: 20px;
        border-radius: 5px;
        color: #1D190A;
    }

    .social-logo {
        width: 10px;
    }



}
