* {
    margin: 0;
}

body {
    background-image: url(../../menubackgr/menubackgr.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
-------------------------------------------
1.1. Typography
-------------------------------------------
*/

@font-face {
    font-family: headlines;
    src: url('../../headerfont.ttf');
}

@font-face {
    font-family: portfolio;
    src: url('../../portfoliofont.ttf');
}



@font-face {
    font-family: navfont;
    src: url('../../navfont.ttf');
}

@font-face {
    font-family: aboutfont;
    src: url('../../aboutfont.ttf');
}

@font-face {
    font-family: abouttextfont;
    src: url('../../aboutpargr.ttf');
}

@font-face {
    font-family: coolvetica;
    src: url('../../fonts/ShadowsIntoLightTwo-Regular.ttf');
}

@font-face {
    font-family: listitemsfont;
    src: url('../../fonts/bhatoshine.otf');
}

/*************************** 
          LAYOUT  
****************************/

.containerses {
    text-align: center;
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 75px minmax(950px, auto) minmax(950px, auto) 75px;
    grid-template-areas: "top top " "main . " "main . " "bottom bottom ";
}

.navbar a {
    color: #88CDD6;
    font-family: aboutfont;
    margin-left: 25px;
}

.navigation {
    grid-area: top;
    background-color: #1B1A16;
    color: white;
    height: 100px;
}

.main {
    grid-area: main;
    background-color: #2C3A4A;
    margin-left: 50px;
}



.bottom {
    grid-area: bottom;
    background-color: black;
    color: white;
    width: 100%;
}

/************
MAIN CONTENT LAYOUT 
**************/



.main {
    padding-top: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main h2 {
    font-family: listitemsfont;
    letter-spacing: 15px;
    text-transform: uppercase;
    padding: 5% 0;
    font-size: 4em;
    color: #fff;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

h2 {
    -webkit-text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.75);
}

.top-picture > img {
    position: absolute;
    top: 110px;
    left: 0;
}

.secondary-drop .ice-cubes-pic {
    height: 200px;
    position: absolute;
    z-index: 1000;
}



.back-photo {
    position: absolute;
    z-index: -1;
    top: -35%;
    height: 200px;
    width: 250px;
    background-color: green;
}

.menudivs {
    margin-top: 14%;
    position: relative;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background-color: #2C3A4A;
}

.main-drop {
    position: absolute;
    right: -5%;
    top: 80px;
    height: 150px;
    width: 100%;
    background-color: #9EA24E;
    opacity: .8;
    transform: translateX(20%);
    z-index: 1;

}

.secondary-drop {
    background-image: url('../../menubackgr/woodtexture.jpg');
    background-size: cover;
    top: 5px;
    position: absolute;
    bottom: 125px;
    height: 180px;
    width: 115%;
    background-color: #d6d6d6;
    transform: translateX(5%);
    z-index: 1;
}

.third-drop {
    height: 180px;
    width: 80%;
    background-color: #fff;
    position: absolute;
    top: 20%;
    right: 30%;
}


.secondary-drop > h4,
.secondary-drop > p {
    color: #fff;
    padding: 15px 0 0 0;
    text-transform: uppercase;
/*    border-bottom: 2px solid green;*/
    padding-bottom: 5px;
    border-width: 80%;
}

h4 {
    font-family: coolvetica;
}

h3 {
    font-family: coolvetica;
    position: absolute;
    z-index: 999;
}

    
    
    

@font-face {
    font-family: listitemsfont;
    src: url('../../fonts/bhatoshine.otf');
}

.buttonEnlarge {
    background: #fff;
    position: absolute;
    z-index: 5;
    right: -35%;
    top: 20%;
    display: block;
    float: right;
    margin-right: 15px;
    border-radius: 20px;
    opacity: .8;
    transition: opacity .5s ease-in, background .5s ease-in;
}

.buttonEnlarge:hover {
    opacity: 1;
    background: #6BA19A;
}

.images-logs {
    position: absolute;
    height: 100%;
    left: 40px;
    bottom: -35%;
    transition: rotate 2s linear;
    -webkit-box-shadow: 10px 10px 130px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 130px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 130px 4px rgba(0, 0, 0, 0.75);
}

.images-logs:nth-child(even) {
    position: absolute;
    z-index: -1;
/*    top: -15px;*/
    right: -40%;
    width: auto;
}

.top-picture > img {
    padding-top: 15px;
    width: 100%;
}

.red {
    background-color: #FF2B29;
}


/*************************** 
          OVERLAYS   
****************************/

#overlay-afternoon-tea,
#overlay-afternoon-brunch,
#overlay-millenials-menu,
#overlay-allday-dinig,
#overlay-gall-caf,
#overlay-christmas-menu {
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.925);
    z-index: 10;
    cursor: pointer;
    overflow-y: scroll;
    height: auto;
}

.menu-content {
    width: 80%;
    color: #fff;
    background: grey;
    opacity: 1;
    margin: auto;
    padding: 5% 0;
}

.content {
    background: grey;
    width: 80%;
    margin: auto;
}

.top {
    display: flex;
    justify-content: center;
    color: #fff;
    background: grey;

}
 
.right {
   background: red;
    width: 50%;
    height: auto;
}

.left {
   background: green;
    width: 50%;
    height: auto;
}

.bold {
    font-style: italic;
    font-size: 1.3em;
    border-bottom: 1px white solid;
}

h5 {
    color: #fff;
    font-size: 1.9em;
    padding: 5% 0 2%;
}

.menu-list > p {
    color: white;
}

@media all and (max-width: 1690px) {}

@media all and (max-width: 1280px) {
    ...
}

@media all and (max-width: 980px) {
    ...
}

@media all and (max-width: 736px) {
    ...
}

@media all and (max-width: 480px) {
    .main {
        width: 100%;
    }

    .images-logs {
        height: 50%;
        top: 45%;
    }
    ;

    .main-drop {
        top: 30px;
    }
    .secondary-drop {
        background-image: url('../../menubackgr/woodtexture.jpg');
        background-size: cover;
        position: relative;
        height: 150px;
        margin-left: 20px;
    }

    .main-drop {
        height: 100px;
    }

    .containerses {
        text-align: center;
        display: grid;
        grid-column-gap: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 75px minmax(950px, auto) minmax(950px, auto) 75px;
        grid-template-areas: "top top " "main " "main " "bottom bottom ";
    }

    .images-logs {
        height: 85%;
        left: -10%;
    }

    .secondary-drop {
        left: -10%;
    }

    .top-picture > img {
        position: absolute;
        top: 95px;
        left: 0;
    }
    
    .buttonEnlarge {
    position: absolute;
    background: #fff;
    z-index: 5;
    right: -15%;
    top: 40%;
    display: block;
    float: right;
    margin-right: 15px;
}

}
