.About {
    height: 100vh;
    background: rgba(63, 54, 42, 1);
    background: -moz-linear-gradient(left, rgba(63, 54, 42, 1) 0%, rgba(21, 18, 14, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(63, 54, 42, 1)), color-stop(100%, rgba(21, 18, 14, 1)));
    background: -webkit-linear-gradient(left, rgba(63, 54, 42, 1) 0%, rgba(21, 18, 14, 1) 100%);
    background: -o-linear-gradient(left, rgba(63, 54, 42, 1) 0%, rgba(21, 18, 14, 1) 100%);
    background: -ms-linear-gradient(left, rgba(63, 54, 42, 1) 0%, rgba(21, 18, 14, 1) 100%);
    background: linear-gradient(to right, rgba(63, 54, 42, 1) 0%, rgba(21, 18, 14, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f362a', endColorstr='#15120e', GradientType=1);
}
