.Navbar {
   /* margin-top: 1%; */
   /* position: absolute; */
   /* z-index: 3; */
   /* width: 100%; */
   color: #fff;
   font-family: 'Bree Serif', serif;
   font-size: 1.2em;
   /* margin-left: 25px; */
}
